<div id='menu-text-align' class="optionMenu rte-menu">
    <ul>
        <li data-action="align-l"><a href="#"><i class="icon icon-align-left" title="{{str_rte_align_l}}"></i></a></li>
        <li data-action="align-c"><a href="#"><i class="icon icon-align-center" title="{{str_rte_align_c}}"></i></a></li>
        <li data-action="align-r"><a href="#"><i class="icon icon-align-right" title="{{str_rte_align_r}}"></i></a></li>
    </ul>
</div>